* {
    box-sizing: border-box;
}
/* Adjust for fixed menu height on anchor scroll */
@media(min-width:768px){
    *[id]::before { 
      display: block; 
      content: ''; 
      height: 20px; 
      visibility: hidden; 
    }
}
.shadow {
    -webkit-box-shadow: 2px 7px 17px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 2px 7px 17px 0px rgba(0,0,0,0.16);
    box-shadow: 2px 7px 17px 0px rgba(0,0,0,0.17);
}
.animate {
    opacity: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    /* background-color: #00e4bc; 
        Tango Pink = EF767A
        Deep carmine = EF3E36
    */
    background-color: #fff;
    margin: 0;
    overflow-x: hidden;
}
.sitewrapper {
    overflow-x: hidden;
}
.full-width {
    width: 100%!important;
}
.container {
    width: 100%;
    margin: 0 auto;
    display: table;
    transition: width 0.2s;
    /* border: 1px solid red; */
}
@media(min-width:768px){
    .container {
        width: 100%;
    }
}
@media(min-width:992px){
    .container {
        width: 900px;
    }
}
@media(min-width:1200px){
    .container {
        width: 1120px;
        padding-left: 0;
        padding-right: 0;
    }
}

/* ------------------------ TYPOGRAPHY ------------------------ */

body {
    font-family: 'Nunito', sans-serif;
}
h2 {
    font-size:56px;
    margin-bottom:2rem;
}
main .container-strip.green h2 {
    color: #fff;
}
main p {
    line-height: 2rem;
}
#intro p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 0rem 2.6rem;
}
@media(max-width:768px){
    #intro p {
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 0rem 2rem;
    }
}

/* ------------------------ / TYPOGRAPHY ------------------------ */

/* ------------------------ MENU LINK ELEMENTS ------------------------ */
menu {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #00e4bc;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    z-index: 3;
}
@media(min-width:768px){
    menu {
        position: fixed;
        height:68px;
    }
}
menu .container {
    padding-left: 1rem;
    padding-right: 1rem;
}
menu .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
menu .menu-container .menu-inner {
    width:calc(100% - 150px);
    display: flex;
    align-items: center;
}
menu .menu-container .menu-inner ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
menu .menu-container .menu-inner ul li {
    float: none;
}
menu .menu-container .menu-inner ul li a {
    color: inherit;
    text-decoration: inherit;
}
menu .menu-container .menu-ctas {
    width: 150px;
    position: relative;

}
@media(min-width:768px){
    menu .menu-container .menu-inner ul li {
        float: left;
        margin-right: 36px;
    }
}
@media(min-width:992px){
    menu .menu-container {
        flex-direction: row;
    }
    menu .menu-container .menu-inner {
        
        margin-top:0;
    }
    menu .menu-container .menu-ctas {
        width: 250px;
    }
}
@media(min-width:1200px){

}

    /* MENU ITEM ANIMATION */
menu .menu-container .menu-inner ul li {
    transition:0.4s;
    font-size: 22px;
}
menu .menu-container .menu-inner ul li:hover {
    cursor: pointer;
    transform: translateX(8px);
}
menu .menu-container .menu-inner ul li:hover::after {
    display: block;
    position: relative;
    content: '';
    height: 2px;
    width: 36px;
    background-color: #fff;
    margin-top: 6px;
}

@media(min-width:768px){
    menu .menu-container .menu-inner ul li {
        font-size: 18px;
        padding: 8px 5px;
    }
    menu .menu-container .menu-inner ul li:hover {
        cursor: pointer;
        transform: translateY(6px);
    }
    menu .menu-container .menu-inner ul li:hover::after {
        display: block;
        position: absolute;
        content: '';
        height: 6px;
        background-color: #fff;
        margin-top: 6px;
    }
}

    /* / MENU ITEM ANIMATION */

/* ------------------------ / MENU LINK ELEMENTS ------------------------ */

/* ------------------------ HEADER LOGO ELEMENTS ------------------------ */
header {
    background-color: #00e4bc;
    position: relative;
    z-index: 1;
    margin-top: 67px;
}
@media(max-width:767px){
    header {
        margin-top: 0px;
    }
}
header .svg-logo-container {
    max-width:400px;
    padding-top:7.5rem;
    padding-bottom:1rem;
    padding-left:1rem;
    padding-right:1.5rem;
}
header .svg-logo-container svg {
    overflow:visible;
}
@media(min-width:576px){
    header .svg-logo-container {
        padding-top:10rem;
        max-width:520px;
    }
}
@media(min-width:1200px){
    header .svg-logo-container {
        padding-top:11rem;
        max-width:772px;
    }
}
header .cls-1, header .cls-2 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 60px;
}
header .cls-1 {

}

    /* ROTATE LOGO MED-QUERIES & OTHER */

@media(max-width:576px){
    header .svg-logo-container {
        transform: rotate(90deg);
        transform-origin: 30% -100%;
        max-width: 100%;
        padding:0;
    }
    header .rotate-logo-inner {
        padding: 50% 0;

    }
    header .svg-logo-container svg {
        overflow:hidden;
    }
}
    /* / ROTATE LOGO MED-QUERIES */

/* ------------------------ / HEADER LOGO ELEMENTS ------------------------ */

/* ------------------------ MAIN ELEMENTS ------------------------ */
main {
    font-size: 18px;
    font-weight: 300;
    color: #3f464c;
    position: relative;
    width: 100%;
}
main .container-strip {
    background-color:#f1f1f1;
    padding: .5rem 1rem 2.5rem 1rem;
    position: relative;
    z-index:2;
    overflow: hidden;
}
main .container-strip.green {
    background-color: #00e4bc;
}
main .container-strip.white {
    background-color: #fff;
}
main .box-container {
    padding-bottom: 1.5rem;
}
main .content {
    padding-left: 2rem;
    padding-right: 0.2rem;
    padding-bottom: 2rem;
}
main .content.animate {
    opacity: 0;
}
main .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* min-height:260px; */
    background-color:rgba(255,255,255,0);
    opacity: 0;
    padding: 2rem 2rem;

}
main .box.left {
    float: left;
    clear:right;
}
main .box.right {
    float: right;
    clear: left;
}
main .box div {
    display: flex;
    flex-direction: column;
}
main .box div span {
    margin-bottom: 1.5rem;
}
@media(min-width:768px){
    main .box {
        padding: 2rem 5rem;
    }
}
@media(min-width:992px){

}
@media(min-width:1200px){
    main .box {
        width: 60%;
        padding: 1rem 2rem;
    }
}

footer {
    background-color: #00e4bc;
    color: #fff;
    position: relative;
    bottom: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:3rem;
    padding-bottom:3rem;
    flex-direction: column-reverse;
}
footer .footer-container div {
    padding:2rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer .footer-container .contact-details {
    font-size: 22px;
}
footer .footer-container .contact-details span {
    margin-bottom: 10px;
}
@media(max-width:576px){
    footer .footer-container {
        flex-direction: column-reverse;
    }
    footer .footer-container div {
        padding: 1rem;
    }
}

/* ------------------------ / MAIN ELEMENTS ------------------------ */

/* ------------------------ PORTFOLIO ELEMENTS ------------------------ */

main .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
main .gallery img {
    width: 200px;
    height: 200px;
}
main .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
main .portfolio-container .item {
    position: relative;
    width: 14%;
    padding-top: 14%;
    margin: 5px;
    background-size:cover;
    background-position: center;
    transition: 0.1s;
}
@media(max-width:1200px){
    main .portfolio-container .item {
        width: 19%;
        padding-top: 19%;
    }
}
@media(max-width:767px){
    main .portfolio-container .item {
        width: 24%;
        padding-top: 24%;
    }
}
@media(max-width:576px){
    main .portfolio-container .item {
        width: 40%;
        padding-top: 40%;
    }
}
main .portfolio-container .item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
main .portfolio-container .item:hover {
    opacity: 0.8;
}

.lightbox:target {
    outline: none;
    display: block;
}
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    overflow-y: auto;
    overflow-x: hidden;
}
.lightbox img {
    max-width: 100%;
    max-height: 100%;
    margin: 1rem;
}
@media(max-width:767px){
    .lightbox img {
        max-width: calc(100% - 2rem);
        margin: 1rem;
    }
}
a.lightbox {
    text-decoration: none;
}

/* ------------------------ / PORTFOLIO ELEMENTS ------------------------ */

/* ------------------------ LIST ------------------------ */

main .list-columns {
    display: flex;
    flex-direction: row;
}
main .list-columns ul {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
}
main .list-columns ul li {
    margin-bottom: 0.3rem;
    margin-left: 2rem;
}
@media(max-width:767px){
    main .list-columns {
        flex-direction: column;
    }
    main .list-columns ul {
        width: 100%;
    }
}
main .list ul {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    list-style: none;
}
@media(max-width:576px){
    main .list ul {
       
    }
}
main .list ul li {
    margin: 0.8rem 0;
}
main .list ul li a {
    color: #3f464c;
    transition: 0.2s;
    padding: 5px 10px;
}
main .list ul li:hover {
    transition: 0.6s;
}
main .list ul li a:hover {
    color: #fff;
    background-color: #00e4bc;
}

/* ------------------------ / LIST ------------------------ */

/* ------------------------ LINKS ------------------------ */
a.blu-btn {
    color: #fff;
    text-decoration: none;
    background-color: #EF3E36;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    border-radius:3px;
    font-size:16px;
    transition:0.2s;
    position:relative;
    z-index:2;
}
a.blu-btn:hover {
    background-color: #f45249;
}
menu a.blu-btn:hover {
    -webkit-box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.21);
}
main a.blu-btn {
    background-color: #00e4bc;
    max-width: 160px;
}
main a.blu-btn:hover {
    color: #fff;
    background-color: #13f7cd;
}
footer a.blu-btn {
    background-color: transparent;
    border: 1px solid #fff;
    width: 100%;
    max-width: 290px;
}
footer a.blu-btn:hover {
    background-color: #fff;
    color: #00e4bc;
    /* 
    -webkit-box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 7px 12px 0px rgba(0,0,0,0.21);
    */
}
main .content a.blu-btn {
    margin-top: 2rem;
}
main .links a {
    display: block;
    font-size: 26px;
}
/* ------------------------ / BUTTONS ------------------------ */