html,body {
	margin:0;
}

#wrapper {
	min-width: 30px;
}

.main-wrapper {
	background-image: none!important;	
	background-color: #fff;
}

.pt_error .primary-content {
    width: 100%;
}

#main {
	width:100%;
	padding:0;
	margin:0;
}

.breadcrumb {
	padding: 12px 10px !important;	
    max-width: 960px;
	margin: 0 auto;
}